<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="scheduledAnnotationBeanPostProcessor"
          class="org.springframework.scheduling.annotation.ScheduledAnnotationBeanPostProcessor"/>

    <bean id="onlineMetroDownloader" class="be.dieterdemeyer.metro.online.infrastructure.OnlineMetroDownloader">
        <property name="mailSender" ref="mailSender"/>
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="relay.skynet.be"/>
    </bean>

</beans>